*{
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:122mm 182mm;
  font-family: 微軟正黑體;
  
}    

#power{
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  margin-left: 90px;
  margin-top: 150px;

}

#Type{
  position: absolute;
  font-size: 13px;
  font-weight: 800;

  margin-left: 110px;
  margin-top: 290px;
}

#cool_kw{
  position: absolute;
  font-size: 15px;
  font-weight: 800;

  margin-left: 110px;
  margin-top: 340px;
}

#cspf{
  position: absolute;
  font-size: 15px;
  font-weight: 800;

  margin-left: 110px;
  margin-top: 399px;
}

#cert_no{
  position: absolute;
  font-size: 13px;
  font-weight: 800;
  margin-left: 110px;
  margin-top: 553px;
}